h1{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
}

@media (min-width: 400px) {
    h1{
        background-color: rgb(255, 8, 0);
        border: 2px solid rgb(242, 248, 246);
        color: aliceblue;
        border-radius: 5px;
    }
}
@media (max-width: 400px) {
    h1{
        background-color: rgb(0, 255, 34);
        border: 2px solid rgb(11, 241, 165);
        color:aliceblue;
        border-radius: 5px;
    }
}

@media (min-width: 800px)and (max-width: 1000px) {
    h1{
        background-color: rgb(0, 238, 255);
        border: 2px solid rgb(72, 11, 241);
        color:aliceblue;
        border-radius: 5px;
    }
}



